# Node.js
node_modules/
dist/
dist-ssr/
coverage/
.eslintcache
*.local
.env*.local

# Logs
logs
*.log
npm-debug.log*

# Vite & Cypress
*.timestamp-*-*.mjs
/cypress/videos/
/cypress/screenshots/
__screenshots__/

# OS & IDE
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/